/* 新闻容器样式 */
.news-item {
  margin-bottom: 15px;
  font-size: 1rem;
  line-height: 1.5;
}

/* 分类标签基础样式 */
.category {
  display: inline-block;        /* 使标签成为内联块元素 */
  font-size: 0.85rem;           /* 字体大小 */
  font-weight: bold;            /* 加粗字体 */
  padding: 2px 8px;             /* 内边距 */
  border-radius: 4px;           /* 圆角 */
  color: #fff;                  /* 标签文字颜色 */
  width: 100px;                 /* 固定宽度，所有标签相同 */
  text-align: center;           /* 内容居中 */
  margin-right: 10px;           /* 右侧间距 */
}

/* 不同类别的颜色 */
.category.publication {
  background-color: #D75B4E; /* 红 */
}

.category.fund {
  background-color: #F7AC53; /*黄 */
}

.category.award {
  background-color: #97D0C5; /* 绿*/
}

.category.conference {
  background-color: #52AADC; /* 蓝 */
}

.category.engagement {
  background-color: #EEB6D4; /* 粉色 */

  .category.lab {
  background-color: #C7C1DE; /* 紫色 */
  
}
